<ul class="nav nav-list">
    <li>
        <a href="@Url.Action("Index","User")">

            <span class="menu-text">首页</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("UserOrders","User")">
            <span class="menu-text">我的订单</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Info","User")">
            <span class="menu-text">个人信息</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("UserAddresses","User")">
            <span class="menu-text">收货地址</span>
        </a>
    </li>
</ul>
