@{
    ViewBag.Title = "鼎智科技 - 首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>鼎智科技</h1>
            <h2>为你打造</h2>
        </div>
    </div>


    <div class="container">
        <div class="page-header"><h2>软件产品</h2> </div>
        @Html.Action("ProductSoftwareIndex", "Product", null)
        <div class="page-header"><h2>常用物料</h2></div>
    </div>
</body>
