@model HyrjChina.Domain.Entities.Order

@{
    ViewBag.Title = "订单结算页 - 鼎智科技";
}

<div class="row">
    <div class="col-sm-6 col-md-3  col-md-offset-1">
        @using (Html.BeginForm())
            {
            @Html.ValidationSummary()
            @Html.Hidden("AddressId", Model.AddressId)
            <h3>收货人信息</h3>
            if (Model.Address == null)
            {
                <div>1</div>
            }
            else
            {
                <div>2</div>
            }

            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="提交订单" />
            </div>

        }
    </div>
</div>