@model IEnumerable<HyrjChina.Domain.Entities.Address>

@{
    ViewBag.Title = "鼎智科技 - 收货地址";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">地址1</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
                <div class="col-md-6">收货人： 李杨</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("新增收货地址", "AddressCreate", null, new { @class = "btn example-btn" })
    </div>
</div>