@model IEnumerable<HyrjChina.Domain.Entities.Order>

@{
    ViewBag.Title = "鼎智科技 - 我的订单";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row"><h2>我的订单</h2></div>
<div class="row">
    <div class="col-md-12"><table class="table table-bordered">
    <tr>
        <th>
            订单详情
        </th>
        <th>
            收货人
        </th>
        <th>
            金额
        </th>
        <th>
            全部状态
        </th>
    </tr>
</table></div>
    
</div>